form {
  margin: 0 10%;
  padding-bottom: 6rem;
}

.form-title {
  color: #888;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.input-field {
  grid-gap: 10px;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
}

form input {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 1.5rem;
}

.category {
  color: #8b8b8b;
  font-weight: 700;
  margin: 0;
}

form button {
  background-color: #0290ff;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 1.5rem;
}
