* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

.seperator-line {
  border-bottom: 1px solid #e8e8e8;
  margin: 4rem 10%;
}
