.book-card {
  padding: 4rem 10% 0 10%;
}

.main {
  display: grid;
  grid-template-columns: 1.8fr 1.5fr 1fr;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

.book-detail {
  background-color: white;
  font-size: 1.8rem;
  padding: 3rem 4rem;
}

.book-author {
  color: #4386bf;
  font-size: 1.7rem;
  font-weight: 300;
  margin: 0;
}

.book-category {
  color: #8b8b8b;
}

.book-heading {
  margin: 5px 0;
}

.buttons {
  display: flex;
  gap: 2rem;
  margin-top: 20px;
  padding: 0 10px 0 0;
}

.btn {
  background-color: #fff;
  border: none;
  border-right: 1px solid #e8e8e8;
  color: #4386bf;
  padding: 0 15px 0 0;
  font-size: 1.7rem;
}

.line {
  height: 1.5rem;
  margin: 0.75rem 1.063rem 0 0.938rem;
  border: solid 1px #e8e8e8;
}

.book-progress {
  display: flex;
  align-items: center;
  justify-content: center;
}

.seperator {
  height: 8.5rem;
  margin: 1.125rem 3.688rem 0 6.938rem;
  border: solid 1px #e8e8e8;
}

.book-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}

.chapter-heading {
  color: #bebebe;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.update-progress {
  background-color: #0290ff;
  border: none;
  border-radius: 7px;
  color: #fff;
  width: 65%;
  max-width: 180px;
  padding: 15px 20px;
}
