.book-data {
  padding-top: 9rem;
}

.book-card {
  padding: 4rem 10% 0 10%;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

.book-detail {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: 1.8rem;
  padding: 2rem 3rem;
  width: 30%;
}

.book-author {
  color: #4386bf;
  font-size: 1.7rem;
  font-weight: 300;
  margin: 0;
}

.book-category {
  color: #8b8b8b;
}

.book-heading {
  margin: 5px 0;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 20px;
}

.btn {
  background-color: #fff;
  border: none;
  border-right: 1px solid #e8e8e8;
  color: #4386bf;
  padding: 0 15px 0 0;
  font-size: 1.4rem;
}

.line {
  height: 1.5rem;
  margin: 0.75rem 1.063rem 0 0.938rem;
  border: solid 1px #e8e8e8;
}

.book-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37%;
}

.seperator {
  height: 8.5rem;
  margin: 1.125rem 2.688rem 0 7rem;
  border: solid 1px #e8e8e8;
}

.book-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  width: 30%;
}

.chapter-heading {
  color: #bebebe;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.update-progress {
  background-color: #0290ff;
  border: none;
  border-radius: 7px;
  color: #fff;
  width: 70%;
  max-width: 180px;
  padding: 15px 20px;
}

.default {
  text-align: center;
  color: black;
  font-size: 2rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  font-size: 5rem;
}
